[Unit]
Description=ROS 2 ROSBridge WebSockets Server
After=network.target

[Service]
Type=simple
User=uas
ExecStart=/bin/bash -c "source /home/uas/.bashrc && source /home/uas/uas_ws/install/local_setup.bash && ros2 run rosbridge_server rosbridge_websocket --port 8080"
Restart=on-failure

[Install]
WantedBy=multi-user.target
